marimo==0.16.4
dlt==1.17.0
plotly==6.3.0
format_currency==0.0.10
iposconnect-dataframe @ git+https://github.com/DeeloaSociety/iposconnect.git@develop#subdirectory=iposconnect-dataframe
sultanconnect-dataframe @ git+https://github.com/DeeloaSociety/sultanconnect.git@develop#subdirectory=sultanconnect-dataframe
lakasirclient @ git+https://github.com/DeeloaSociety/enterprise-api.git@develop#subdirectory=lakasirclient